*{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}

.contenedor{
    background: #52057b;
    width: 60vw;
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: center;
    
    
    
}

.caja1, .caja2{
    background: #892cdc;
    width: 16vw;
    height: 30vh;
    margin: 12px;
    text-align: center;
}


.suma, .igual{
    background-color: red;
    color: white;
    width: 6vw;
    height: 8vh;
    margin: 1px;
    text-align: center;
}

/*................................................................*/

.contenedor2{
    background: orange;
    width: 60vw;
    height: 35vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.caja3{
    background: #bc6ff1;
    width: 30vw;
    height: 30vh;
    margin: 12px;
    text-align: center;
    font-size: 40px;
}

/*.......................................................................*/

.contenedor3{
    background: green;
    width: 60vw;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
}